.container {
    background-color: $color-secondary;
    margin: 0 auto;
    padding: $m-size;
    overflow: hidden;
    height: 99vh;
    width: 100%;

    &__list {
        border-left: 2px solid rgba(45,45,45, .2);
        height: 95vh;
        padding: $m-size;
        overflow-y: scroll;
    }
}