.row {
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include clearfix;
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    [class^='col-'] {
        float: left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal})/2);
    }

    .col-1-of-2-sm {
        width: calc((100% - #{$gutter-horizontal})/2);

        @media (max-width: 500px) {
            width: 100%;
            margin: 0 auto;
            transition: all .3s ease;
        }
    }

    .col-1-of-2-md {
        width: calc((100% - #{$gutter-horizontal})/2);
        @media(max-width: 770px) {
            width: 100%;
            margin: 0 auto;
            transition: all .3s ease;

            &--hide {
                display: none;
                width: 0;
                padding: 0;
                margin: 0;
                visibility: hidden;
            }
        }
        &--full-width {
            width: 100%;
            margin: 0 auto;
            transition: all .3s ease;
        }
        &--hidden {
            display: none;
            width: 0;
            padding: 0;
            margin: 0;
            visibility: hidden;  
        }
    }

    .col-1-of-2-lg {
        width: calc((100% - #{$gutter-horizontal})/2);

        @media (max-width: 1080px) {
            width: 100%;
            margin: 0 auto;
            transition: all .3s ease;
        }
    }

    .col-1-of-2--burger {
        width: calc((100% - #{$gutter-horizontal})/2);
        @media(max-width: 770px) {
            display: none;

            &-active {
                display: block;
                width: 100%;
            }
        }
    }

    .col-1-of-3 {
        width: calc((100% - #{$gutter-horizontal}*2)/3);
    }

    .col-1-of-3-sm {
        width: calc((100% - #{$gutter-horizontal}*2)/3);

        @media (max-width: 500px) {
            width: 100%;
            margin: 0 auto;
        }
    }

    .col-2-of-3 {
        width: calc(2 * (100% - #{$gutter-horizontal}*2)/3 + #{$gutter-horizontal});
    }

    .col-2-of-3-sm {
        width: calc(2 * (100% - #{$gutter-horizontal}*2)/3 + #{$gutter-horizontal});

        @media (max-width: 500px) {
            width: 100%;
            margin: 0 auto;
        }
    }

    .col-1-of-4 {
        width: calc((100% - #{$gutter-horizontal}*3)/4);
    }

    .col-2-of-4 {
        width: calc(2 * (100% - #{$gutter-horizontal}*3)/4 + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc( 3 * (100% - #{$gutter-horizontal}*3)/4 + #{$gutter-horizontal} * 2);
    }

    .col-1-of-5 {
        width: calc((100% - #{$gutter-horizontal}*4)/5);
    }

    .col-2-of-5 {
        width: calc(2 * (100% - #{$gutter-horizontal}*4)/5 + #{$gutter-horizontal});
    }
}