.coin-box {
    background-color: darken($color-secondary, 2%);
    display: block;
    cursor: pointer;
    color: $color-primary;
    margin: $xs-size auto;
    padding: $xs-size;
    text-align: center;
    width: $box-width;
    &__image {
        display: block;
        margin: auto;
        width: 80%;
        &--small {
            width: $icon-size-large;
        }
    }
    &__label {
        margin-top: 0;
        text-transform: capitalize;
        font-size: $m-size;
        font-weight: 500;
        opacity: .9;
    }
    &:hover,
    &:active {
        box-shadow: 0 3px 6px rgba(0,0,0, .15);
    }
    &--active {
        box-shadow: 0 3px 6px rgba(0,0,0, .15);
        border-bottom: 2px solid $color-highlight; 
    }
    &--small {
        height: $box-width;
    }
}