.header {
    box-shadow: 0 2px 4px rgba(0,0,0, .15);
    background-color: $color-blue-dark;
    padding: $xs-size;

    &__left {
        border: 1px solid transparent;
        padding: 0;
        position: relative;
        width: 100%;
    }

    &__rate {
        display: inline;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    &__lang {
        margin: 0 auto;
        margin-right: $m-size;
        width: 60px;
    }
}
