.icon {
    text-align: center;

    &__exchange {
        color: $color-primary;
        cursor: pointer;
        font-size: $icon-size-small;
        margin-top: 80px;
        opacity: .4;
        transition: all .3s;
        text-align: center;

        &:hover,
        &:active {
            opacity: .6;
        }
    }

    &__arr-back {
        color: $color-secondary;
        font-size: $l-size;
        position: absolute;
        left: $xs-size;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            cursor: pointer;
            color: darken($color-secondary, 10%);
        }
    }

    &--center {
        width: 100%;
        &__spinner {
            display: inline-block;
            color: $color-btn-primary;
            font-size: 250%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.icon-secondary {
    display: inline;
}