.qr {
    text-align: center;
    padding: $xs-size;
    margin-top: $l-size;

    &__code {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: $s-size;
    }

    &__label {
        width: 100%;
        color: darken($color-primary, $amount: 20%);
        font-size: $font-size-l;
        text-transform: capitalize;
    }
}