.timer {
    background-color: $color-secondary;
    border: .5px solid $color-success;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0, .25);
    text-align: center;
    padding: $xs-size;
    position: relative;
    width: $timer-width;
    height: $timer-width;

    &__label {
        color: darken($color-primary, 30%);
        width: 100%;
        text-transform: capitalize;
    }
    &__counter {
        color: $color-highlight;
        display: inline-block;
        font-size: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &--warning {
        border-color: $color-warning;

        timer__counter {
            color: $color-warning;
        }
    }
}