.trader-box {
    background-color: $color-secondary;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(45,45,45, .2);
    margin: auto;
    width: 50rem;
    padding: $l-size;
    &__title {
        color: $color-primary;
        text-align: center;
        text-transform: capitalize;
        margin-top: $m-size;
    }
}