.tx {
    padding: $s-size;

    &__txt {
        color: darken($color-primary, 30%);
        text-transform: capitalize;
        margin: $s-size auto;
        margin-left: 0;
        font-size: $m-size;
    }
    &__address {
        color: $color-btn-primary;
        margin-right: $xs-size;
    }
    &__icon {
        vertical-align: middle;
        margin-right: $xs-size;
    }
    &__title {
        color: darken($color-primary, 30%);
        text-transform: capitalize;
    }
    &__status {
        
        &--pending {
            color: $color-primary;
        }
    }
}