* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: $m-size;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
    font-weight: 600;
    color: $color-link;
}