//spacing
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$font-size-s: 1.4rem;
$font-size-l: 1.8rem;
$icon-size-small: 3rem;
$icon-size-medium: 4.5rem;
$icon-size-large: 6rem;
$icon-size-xlarge: 10rem;
$desktop-breakpoint: 108rem;
$box-width: 20rem;
$box-width-s: 15rem;
$timer-width: 15rem;
//grids
$gutter-vertical: 2rem;
$gutter-vertical-medium: 4rem;
$gutter-vertical-large: 8rem;
$gutter-horizontal: 1.5rem;
//colors
$color-primary: #777;
$color-secondary: #f7f7f7;
$color-btn-primary: #496693;
$color-blue-dark: #081f46;
$color-warning: rgb(255, 0, 0);
$color-success: green;
$color-highlight: rgb(83, 223, 27);
$color-link: #912ea5;
$color-box-green: rgb(3, 95, 3);
$color-box-blue: rgb(43, 43, 121);
