//spacing
$s-size: .8rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$icon-size-small: 3rem;
$icon-size-medium: 4.5rem;
$icon-size-large: 6rem;
//grids
$gutter-vertical: 2rem;
$gutter-horizontal: 1.5rem;
//colors
$color-primary: #777;
$color-secondary: #f7f7f7;
