//spacing
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$icon-size-small: 3rem;
$icon-size-medium: 4.5rem;
$icon-size-large: 6rem;
//grids
$gutter-vertical: 2rem;
$gutter-vertical-medium: 4rem;
$gutter-vertical-large: 8rem;
$gutter-horizontal: 1.5rem;
//colors
$color-primary: #777;
$color-secondary: #f7f7f7;
$color-btn-primary: #496693;
$color-blue-dark: #374a68;
